POSTGRES_DB=metricas_bria
POSTGRES_USER=ravila
POSTGRES_PASSWORD=change_me

ISSABEL_EMAIL=user@example.com
ISSABEL_PASSWORD=change_me

DB_HOST=postgres_bria
DB_PORT=5432
DB_NAME=metricas_bria
DB_USER=ravila
DB_PASS=change_me

SMTP_HOST=secure.emailsrvr.com
SMTP_PORT=465
SMTP_USER=user@example.com
SMTP_PASS=change_me
MAIL_TO=user@example.com

CSV_TIME_OFFSET_HOURS=6
FILTRO_BD_ACTIVO=true
DEBUG_PATH=false
